body{
    margin: 0 auto;
    background-image: url("../images/fondo.jpg");
}

.container{
    background-color: #F3F3F3;
    width: 500px;
    height: 350px;
    text-align: center;
    border-radius: 20px;
    margin: 0 auto;
    margin-top: 150px;
    opacity: 0.9;
}

.container img{
    width: 120px;
    height: 120px;
    margin-top: -60px;
    margin-bottom: 30px;
}

input[type="text"], input[type="password"] {
    height: 45px;
    width: 400px;
    font-size: 18px;
    margin-bottom: 20px;
    background-color: #FFF;
    padding-left: 10px;
    border-radius: 4px;
    border:none;
}

.btn-ingresar{
    padding: 15px 30px;
    cursor: pointer;
    color: #FFF;
    border: none;
    border-radius: 4px;
    background-color: #34C110;
    border-bottom: 4px solid #217517;
    margin-bottom: 20px;
}

a{
    color: #34C110;
}