*{
    font-family: Trebuchet MS;
}

.logo{
    width: 20%;
}

.titulo {

    background-image: url("../images/RPLOGO.png") no-repeat;
    padding: 70px 40px;
    font-size: 25px;
    color: blue;
    text-decoration: none;
    text-align: center;
}

.container{
    background-color: #F3F3F3;
    width: 500px;
    text-align: center;
    border-radius: 20px;
    margin: 0 auto;
    margin-top: 80px;
    opacity: 0.9;
}

.container img{
    width: 120px;
    height: 120px;
    margin-top: -60px;
    margin-bottom: 30px;
}



.def{
    margin:15px;
    font-size: 16px;
    text-decoration: none;
    color:green;
    text-align: center;
}

input[type="text"], input[type="number"] {
    height: 45px;
    width: 400px;
    font-size: 15px;
    margin-bottom: 20px;
    background-color: #FFF;
    padding-left: 10px;
    border-radius: 4px;
    border:none;
}

.btn-ingresar{
    padding: 15px 35px;
    color: #FFF;
    text-decoration: none;
    border-radius: 4px;
    background-color: #34C110;
    border-bottom: 4px solid #217517;

}

.btn-ingresar:hover{
    background-color: green;
}

.footer{

    background-color: green;
    width: 95%;
    padding: 40px 50px;
    
}

.footertext{
    color: white;
    text-align: center;
    font-size: 18px;
}